# Explore Housing Price Data

The dataset included in this repository is from [Zillow.com](https://www.zillow.com/research/data/) -- it represents the median price of a 3-bedroom house in every state on a monthly basis since 1996.  

We're going to use it to practice getting data from the file, compute averages, look for outliers, and explore.

First, we import the data and inspect it

In [3]:
# This cell imports python modules that make it easier to access the data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# This cell imports the data file and stores it in the variable df
df = pd.read_csv('../data/State_Zhvi_3bedroom.csv', index_col='RegionName')


Inspect by printing the names of the data columns and the whole date frame.  You can also inspect this by opening the data file using the file browser to the left.

In [5]:
df.columns

Index(['RegionID', 'SizeRank', '1996-04', '1996-05', '1996-06', '1996-07',
       '1996-08', '1996-09', '1996-10', '1996-11',
       ...
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10'],
      dtype='object', length=273)

In [6]:
df

,RegionID,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10
RegionName,,,,,,,,,,,,,,,,,,,,,
California,9,1,155200.0,154900.0,154600.0,154300.0,154000.0,153800.0,153700.0,153800.0,...,498800,503900,507400,509100,510500,512000,513500,515000,516500,518200
Texas,54,2,86800.0,86800.0,86900.0,87000.0,87200.0,87300.0,87400.0,87400.0,...,166700,168400,169900,171200,172100,172900,173900,174900,175900,177000
New York,43,3,85800.0,85600.0,85400.0,85200.0,85000.0,84900.0,84700.0,84600.0,...,160100,160800,160900,161000,161600,162500,163500,164300,164600,164700
Florida,14,4,86100.0,86100.0,86200.0,86200.0,86200.0,86300.0,86500.0,86800.0,...,217500,219900,222000,223400,224800,226200,227400,228400,229500,230300
Illinois,21,5,123800.0,124400.0,124800.0,124900.0,124800.0,124300.0,123700.0,122800.0,...,180300,181900,182900,183200,183900,184600,185100,185700,186700,187700
Pennsylvania,47,6,82700.0,82600.0,82500.0,82400.0,82300.0,82300.0,82300.0,82400.0,...,163400,164400,165500,166400,167200,168100,168900,169600,170300,170700
Ohio,44,7,83500.0,83800.0,84000.0,84300.0,84700.0,85100.0,85400.0,85800.0,...,128100,128600,129300,130100,130800,131400,132100,132900,134100,135200
Michigan,30,8,97000.0,97500.0,98200.0,98800.0,99500.0,100100.0,100900.0,101600.0,...,171100,172400,173600,174700,175900,177100,178300,179500,180400,181100
Georgia,16,9,85300.0,85700.0,86100.0,86500.0,86900.0,87300.0,87600.0,87900.0,...,153800,155900,157600,158400,159500,160800,162100,163100,164900,167000
North Carolina,36,10,85100.0,85000.0,85000.0,85100.0,85400.0,85800.0,86300.0,87000.0,...,159600,161100,162200,162900,163700,164300,165200,166400,168000,169300
New Jersey,40,11,148400.0,148200.0,147900.0,147700.0,147600.0,147500.0,147600.0,147900.0,...,363300,365200,365600,366800,368900,370900,372900,375400,377300,378300
Virginia,56,12,94600.0,94600.0,94700.0,94700.0,94900.0,95100.0,95400.0,95700.0,...,216900,217900,218900,219700,220500,220900,221300,222100,223100,224000
Washington,59,13,137200.0,137200.0,137300.0,137500.0,137900.0,138300.0,138700.0,139200.0,...,352200,355900,358100,359700,362200,364600,365600,366000,367400,369300
Massachusetts,26,14,136400.0,136700.0,137000.0,137200.0,137500.0,137800.0,138200.0,138600.0,...,368400,371100,373100,374300,375900,377500,378900,380400,381900,383000
Indiana,22,15,94100.0,93000.0,92000.0,91100.0,90600.0,90200.0,90100.0,90100.0,...,132500,133500,134500,135500,136600,137600,138800,140000,141400,142900
Arizona,8,16,72500.0,73500.0,74400.0,74900.0,75300.0,75500.0,75700.0,76100.0,...,149600,149300,149400,150000,150900,151900,153300,154600,155600,156300
Tennessee,53,17,85300.0,85700.0,86100.0,86500.0,86900.0,87200.0,87600.0,87900.0,...,167000,169000,170300,171200,172200,173500,175000,176200,177600,179100
Missouri,32,18,87900.0,87900.0,87900.0,88000.0,88100.0,88300.0,88800.0,89400.0,...,154100,155300,156500,157500,158800,160000,161100,162100,163400,164600
Wisconsin,60,19,104600.0,104600.0,104800.0,104900.0,104900.0,105000.0,105000.0,105200.0,...,182900,183900,184400,184900,185900,187400,188700,189800,191200,192700
Minnesota,31,20,92600.0,92900.0,93200.0,93600.0,94100.0,94500.0,94900.0,95200.0,...,228000,229900,231700,233000,234000,234600,235400,236400,237600,238700
Colorado,10,21,127400.0,127600.0,127800.0,127900.0,128100.0,128400.0,128800.0,129100.0,...,350300,354100,357200,359100,360400,361300,362200,362900,364300,366000
Alabama,4,22,79200.0,78800.0,78500.0,78200.0,78000.0,78000.0,77900.0,77800.0,...,124000,125300,126400,127300,128200,128700,129000,129100,130000,131200
South Carolina,51,23,80500.0,80300.0,80200.0,80100.0,80100.0,80300.0,80700.0,81200.0,...,158700,160400,161800,162600,163300,163900,164600,165400,166300,167200
Kentucky,24,24,72500.0,72700.0,72900.0,73200.0,73400.0,73700.0,74000.0,74300.0,...,139200,140100,140700,141100,141900,142900,143700,144400,145600,146800
Oregon,46,25,124500.0,125200.0,126000.0,126600.0,127300.0,127900.0,128500.0,129000.0,...,315800,318900,321600,323500,325100,326500,327700,328900,330100,331200
Oklahoma,45,26,60200.0,61500.0,62500.0,63200.0,63700.0,63900.0,63800.0,63500.0,...,119600,120500,121300,121900,122100,122200,122400,122800,123500,124400
Connecticut,11,27,132100.0,131800.0,131500.0,131200.0,131000.0,130800.0,130800.0,130900.0,...,232200,232800,233100,233400,233900,234500,234800,235500,236300,236700
Iowa,19,28,67500.0,67400.0,67400.0,67500.0,67800.0,68200.0,68700.0,69300.0,...,153300,153700,154100,154500,154800,155200,156000,156700,157400,158200
Mississippi,34,29,76700.0,76800.0,76900.0,77100.0,77200.0,77400.0,77500.0,77500.0,...,121500,121800,122400,123400,125200,127200,128100,128500,129400,130500
Arkansas,6,30,87800.0,87700.0,87300.0,86900.0,86500.0,86100.0,85600.0,85100.0,...,143100,143900,144500,145000,146200,148100,149700,150700,151600,152400
Kansas,23,31,68100.0,68200.0,68500.0,68800.0,69200.0,69600.0,69900.0,70300.0,...,135600,135700,135900,136500,137200,138100,139100,140000,140700,141300
Utah,55,32,143000.0,142900.0,142600.0,142300.0,142000.0,141900.0,141800.0,141900.0,...,284700,288900,292400,294900,298500,302700,306300,309300,313200,316700
Nevada,42,33,125600.0,125500.0,125400.0,125300.0,125400.0,125500.0,125600.0,125900.0,...,252100,255500,258000,260200,262900,265400,267900,270900,274300,277000
New Mexico,41,34,122200.0,122400.0,122500.0,122500.0,122600.0,122800.0,123100.0,123600.0,...,190900,191800,192500,193300,194100,194900,196100,197600,198900,200000
West Virginia,61,35,54300.0,54400.0,54500.0,54700.0,54800.0,54800.0,54900.0,55000.0,...,105400,106000,106700,107200,107500,107600,107800,108100,108600,109100
Nebraska,38,36,85100.0,85800.0,86500.0,87200.0,87800.0,88300.0,88800.0,89200.0,...,159700,160700,161800,162800,163900,165100,166100,167100,168200,169100
Idaho,20,37,97800.0,97800.0,97700.0,97700.0,97700.0,97600.0,97600.0,97800.0,...,214900,217200,219400,221600,224800,228400,231600,234200,237900,241600
Hawaii,18,38,227800.0,226400.0,224900.0,223200.0,221700.0,220300.0,219100.0,218100.0,...,635600,639700,641800,643900,646800,650000,652000,653300,655100,656900
Maine,28,39,91200.0,90700.0,90000.0,89300.0,88700.0,88100.0,87600.0,87200.0,...,233300,234100,235100,235700,235700,235700,236800,239000,242000,244000
New Hampshire,39,40,105700.0,105700.0,105800.0,105900.0,106000.0,106200.0,106300.0,106500.0,...,267700,269300,270800,272100,273800,275600,277400,278900,280100,281300
Rhode Island,50,41,117800.0,117700.0,117600.0,117600.0,117600.0,117600.0,117700.0,117700.0,...,269000,270500,271900,273000,274500,275800,276200,276300,277400,278700
Montana,35,42,134700.0,134700.0,134700.0,134800.0,134900.0,134900.0,135000.0,135000.0,...,231600,235100,238300,239600,240000,240800,241900,242500,244100,246200
Delaware,13,43,96800.0,97400.0,98200.0,98900.0,99500.0,99900.0,100100.0,100200.0,...,225600,224900,223300,221400,219900,219400,219500,220000,220300,220100
South Dakota,52,44,41600.0,42100.0,42800.0,43800.0,45000.0,46300.0,47800.0,49400.0,...,178600,180200,182400,183800,184500,185000,185600,186200,187000,187900
Alaska,3,45,118000.0,118500.0,119300.0,120100.0,121000.0,121800.0,122500.0,123100.0,...,322300,321100,319400,318800,319100,319800,320000,320200,320200,320000
North Dakota,37,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,221200,221700,221800,221900,221800,221200,220400,220100,220000,220200
District of Columbia,12,47,115700.0,115400.0,115000.0,114700.0,114600.0,114600.0,114600.0,114900.0,...,603000,613300,622000,625600,628600,632200,634700,635500,637500,640900
Wyoming,62,48,158100.0,158100.0,158100.0,158000.0,157900.0,157800.0,157700.0,157700.0,...,229400,229300,229000,229200,230500,232200,233100,232800,232900,233700

# What do we notice?

You should see that the file is organized on a monthly basis, with the rows ordered by the population of the state (Wyoming is last, California is first).

You should also notice that there are blanks or "NaN" values for North Dakota between 1996 and 2005 (NaN stands for "Not a Number").  

Why?  I don't know for sure, but this presumably means that North Dakota didn't provide data to Zillow for that time period, or they didn't have it.  This is going to be an issue because some of the analysis we will want to do will be confused by the missing entries.

People who do data analysis for a living say that they end up spending **a large percentage of their time** dealing with issues like this -- cleaning up and preparing data in a useable format, even before they are able to do any actual analysis.

In this case, since it's only the one state with any missing data, we're just going to ignore that entire row, using the following:

In [7]:
df.dropna(inplace=True)

"dropna" is a command that "drops" the "na" values.  the **inplace=True** part does this in a way that stores the result in the same variable as before, so we don't have to make a copy.

In [8]:
months = df.columns[2:]
months

Index(['1996-04', '1996-05', '1996-06', '1996-07', '1996-08', '1996-09',
       '1996-10', '1996-11', '1996-12', '1997-01',
       ...
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10'],
      dtype='object', length=271)

**months** is now a variable holding all the months in the data table, and you can see that it started in April of 1996 and ended in October of 2018.

You can now refer to the data in one of two ways, using the month or the state name:

In [9]:
df.loc['Washington']

RegionID        59.0
SizeRank        13.0
1996-04     137200.0
1996-05     137200.0
1996-06     137300.0
1996-07     137500.0
1996-08     137900.0
1996-09     138300.0
1996-10     138700.0
1996-11     139200.0
1996-12     139800.0
1997-01     140300.0
1997-02     140800.0
1997-03     141200.0
1997-04     141700.0
1997-05     142100.0
1997-06     142600.0
1997-07     143100.0
1997-08     143700.0
1997-09     144200.0
1997-10     144900.0
1997-11     145700.0
1997-12     146600.0
1998-01     147500.0
1998-02     148300.0
1998-03     149000.0
1998-04     149700.0
1998-05     150400.0
1998-06     151100.0
1998-07     151900.0
              ...
2016-05     293600.0
2016-06     296300.0
2016-07     299600.0
2016-08     302600.0
2016-09     305300.0
2016-10     308300.0
2016-11     311300.0
2016-12     314300.0
2017-01     317600.0
2017-02     321100.0
2017-03     324600.0
2017-04     328000.0
2017-05     331400.0
2017-06     334200.0
2017-07     336600.0
2017-08     338800.0
2017-09     340800.0
2017-10     342900.0
2017-11     345400.0
2017-12     348400.0
2018-01     352200.0
2018-02     355900.0
2018-03     358100.0
2018-04     359700.0
2018-05     362200.0
2018-06     364600.0
2018-07     365600.0
2018-08     366000.0
2018-09     367400.0
2018-10     369300.0
Name: Washington, Length: 273, dtype: float64

In [10]:
df['2018-10']

RegionName
California              518200
Texas                   177000
New York                164700
Florida                 230300
Illinois                187700
Pennsylvania            170700
Ohio                    135200
Michigan                181100
Georgia                 167000
North Carolina          169300
New Jersey              378300
Virginia                224000
Washington              369300
Massachusetts           383000
Indiana                 142900
Arizona                 156300
Tennessee               179100
Missouri                164600
Wisconsin               192700
Minnesota               238700
Colorado                366000
Alabama                 131200
South Carolina          167200
Kentucky                146800
Oregon                  331200
Oklahoma                124400
Connecticut             236700
Iowa                    158200
Mississippi             130500
Arkansas                152400
Kansas                  141300
Utah                    316700
Nevada                  277000
New Mexico              200000
West Virginia           109100
Nebraska                169100
Idaho                   241600
Hawaii                  656900
Maine                   244000
New Hampshire           281300
Rhode Island            278700
Montana                 246200
Delaware                220100
South Dakota            187900
Alaska                  320000
District of Columbia    640900
Wyoming                 233700
Name: 2018-10, dtype: int64

Or you can use the two methods together to access a specific state in a specific month:

In [11]:
print('Apr 1996:', df.loc['Washington']['1996-04'])
print('Oct 2018:', df.loc['Washington']['2018-10'])

Apr 1996: 137200.0
Oct 2018: 369300.0

# First task

Your first task is to calculate the average nationwide price in October of 2018 using the **accumulator** pattern we used for the rainfall problem, which means you need to **initialize a variable** to hold the total of all the home prices during October 2018, then use a **loop** to accumulate the values, and divide by the number of data points to get the average.

The cell below is setup with a loop that will access each state in turn -- right now it prints out the state name.  You will need to add some code before the loop to initialize the variables, and some code in the loop to access the home price for every state during the month of October 2018 and add it to the running total:

In [12]:
total_price = 0

for state in df.index:
    state_price = df.loc[state]['2018-10']
    total_price = total_price + state_price
    #print(state)
    #print(df.loc[state]['2018-10'])
    
#print(total_price)
average = (total_price/len(df.index))
average = round(average, 2)
print('Average:', '$', average)

#max_value = max(df.loc[df.index]['2018-10'])
#print('Maximum value:', '$', max_value)

#min_value = min(df.loc[df.index]['2018-10'])
#print('Minimum value:', '$', min_value)

Average: $ 239131.91

# Second Task

 * How would you modify or use the code above to compute the national average for a different month?
 * How would you modify the code above to find the maximum value in a given month? The minimum?
 * How could you modify or use this code to quickly and easily compute the average price for every month in the data set?
 * Complete at least one of these tasks and make a markdown cell to explain what you did.

To compute the national average for a different month, you would just change the month referenced in the loop from '2018-10' to another month, for example '2000-01'. 
To find the maximum value in a given month, I would add a line at the end to create a new variable that sets itself to the maximum value in a given month using the max() command. I would do the same to find the minimum, but instead use the min() command.
To compute the average price for every month in the data set, I would add a second for loop that executes the code above for every month.

In [28]:
total_price = 0

for state in df.index:
    state_price = df.loc[state]['2018-09']
    total_price = total_price + state_price
    #print(state)
    #print(df.loc[state]['2018-10'])
    
#print(total_price)
average = (total_price/len(df.index))
average = round(average, 2)
print('Average:', '$', average)

Average: $ 237878.72

To compute the national average for a different month, I changed the month referenced when the for loop defines the state_price variable.

In [15]:
for month in months:
    total_price = 0
    for state in df.index:
        state_price = df.loc[state][month]
        total_price = total_price + state_price
    monthly_average = (total_price/len(df.index))
    monthly_average = round(monthly_average, 2)
    print(month, 'Average:', '$', monthly_average)

1996-04 Average: $ 102910.64
1996-05 Average: $ 102982.98
1996-06 Average: $ 103065.96
1996-07 Average: $ 103138.3
1996-08 Average: $ 103261.7
1996-09 Average: $ 103389.36
1996-10 Average: $ 103551.06
1996-11 Average: $ 103757.45
1996-12 Average: $ 104025.53
1997-01 Average: $ 104351.06
1997-02 Average: $ 104685.11
1997-03 Average: $ 104929.79
1997-04 Average: $ 105193.62
1997-05 Average: $ 105446.81
1997-06 Average: $ 105695.74
1997-07 Average: $ 105948.94
1997-08 Average: $ 106223.4
1997-09 Average: $ 106525.53
1997-10 Average: $ 106876.6
1997-11 Average: $ 107255.32
1997-12 Average: $ 107695.74
1998-01 Average: $ 108174.47
1998-02 Average: $ 108629.79
1998-03 Average: $ 109027.66
1998-04 Average: $ 109412.77
1998-05 Average: $ 109800.0
1998-06 Average: $ 110197.87
1998-07 Average: $ 110614.89
1998-08 Average: $ 111042.55
1998-09 Average: $ 111465.96
1998-10 Average: $ 111893.62
1998-11 Average: $ 112329.79
1998-12 Average: $ 112797.87
1999-01 Average: $ 113336.17
1999-02 Average: $ 113848.94
1999-03 Average: $ 114336.17
1999-04 Average: $ 114855.32
1999-05 Average: $ 115404.26
1999-06 Average: $ 115972.34
1999-07 Average: $ 116540.43
1999-08 Average: $ 117114.89
1999-09 Average: $ 117702.13
1999-10 Average: $ 118317.02
1999-11 Average: $ 118934.04
1999-12 Average: $ 119621.28
2000-01 Average: $ 120359.57
2000-02 Average: $ 121089.36
2000-03 Average: $ 121763.83
2000-04 Average: $ 122429.79
2000-05 Average: $ 123063.83
2000-06 Average: $ 123676.6
2000-07 Average: $ 124268.09
2000-08 Average: $ 124855.32
2000-09 Average: $ 125425.53
2000-10 Average: $ 126046.81
2000-11 Average: $ 126731.91
2000-12 Average: $ 127510.64
2001-01 Average: $ 128372.34
2001-02 Average: $ 129240.43
2001-03 Average: $ 130100.0
2001-04 Average: $ 130961.7
2001-05 Average: $ 131806.38
2001-06 Average: $ 132644.68
2001-07 Average: $ 133442.55
2001-08 Average: $ 134227.66
2001-09 Average: $ 134982.98
2001-10 Average: $ 135708.51
2001-11 Average: $ 136442.55
2001-12 Average: $ 137206.38
2002-01 Average: $ 138000.0
2002-02 Average: $ 138806.38
2002-03 Average: $ 139612.77
2002-04 Average: $ 140391.49
2002-05 Average: $ 141159.57
2002-06 Average: $ 141963.83
2002-07 Average: $ 142806.38
2002-08 Average: $ 143714.89
2002-09 Average: $ 144685.11
2002-10 Average: $ 145717.02
2002-11 Average: $ 146831.91
2002-12 Average: $ 147972.34
2003-01 Average: $ 149040.43
2003-02 Average: $ 149995.74
2003-03 Average: $ 151000.0
2003-04 Average: $ 152044.68
2003-05 Average: $ 153119.15
2003-06 Average: $ 154257.45
2003-07 Average: $ 155448.94
2003-08 Average: $ 156648.94
2003-09 Average: $ 157891.49
2003-10 Average: $ 159140.43
2003-11 Average: $ 160400.0
2003-12 Average: $ 161678.72
2004-01 Average: $ 163014.89
2004-02 Average: $ 164459.57
2004-03 Average: $ 166040.43
2004-04 Average: $ 167738.3
2004-05 Average: $ 169531.91
2004-06 Average: $ 171423.4
2004-07 Average: $ 173357.45
2004-08 Average: $ 175293.62
2004-09 Average: $ 177214.89
2004-10 Average: $ 179153.19
2004-11 Average: $ 181002.13
2004-12 Average: $ 182806.38
2005-01 Average: $ 184510.64
2005-02 Average: $ 186087.23
2005-03 Average: $ 187621.28
2005-04 Average: $ 189212.77
2005-05 Average: $ 190806.38
2005-06 Average: $ 192429.79
2005-07 Average: $ 194070.21
2005-08 Average: $ 195687.23
2005-09 Average: $ 197244.68
2005-10 Average: $ 198746.81
2005-11 Average: $ 200155.32
2005-12 Average: $ 201455.32
2006-01 Average: $ 202653.19
2006-02 Average: $ 203731.91
2006-03 Average: $ 204793.62
2006-04 Average: $ 205825.53
2006-05 Average: $ 206746.81
2006-06 Average: $ 207546.81
2006-07 Average: $ 208208.51
2006-08 Average: $ 208700.0
2006-09 Average: $ 209014.89
2006-10 Average: $ 209185.11
2006-11 Average: $ 209234.04
2006-12 Average: $ 209276.6
2007-01 Average: $ 209361.7
2007-02 Average: $ 209434.04
2007-03 Average: $ 209491.49
2007-04 Average: $ 209517.02
2007-05 Average: $ 209387.23
2007-06 Average: $ 209117.02
2007-07 Average: $ 208751.06
2007-08 Average: $ 208282.98
2007-09 Average: $ 207729.79
2007-10 Average: $ 207085.11
2007-11 Average: $ 206295.74
2007-12 Average: $ 205385.11
2008-01 Average: $ 204393.62
2008-02 Average: $ 203302.13
2008-03 Average: $ 202174.47
2008-04 Average: $ 200974.47
2008-05 Average: $ 199627.66
2008-06 Average: $ 198138.3
2008-07 Average: $ 196625.53
2008-08 Average: $ 195117.02
2008-09 Average: $ 193702.13
2008-10 Average: $ 192363.83
2008-11 Average: $ 191085.11
2008-12 Average: $ 189863.83
2009-01 Average: $ 188738.3
2009-02 Average: $ 187614.89
2009-03 Average: $ 186436.17
2009-04 Average: $ 185104.26
2009-05 Average: $ 183608.51
2009-06 Average: $ 182121.28
2009-07 Average: $ 180936.17
2009-08 Average: $ 180076.6
2009-09 Average: $ 179455.32
2009-10 Average: $ 179034.04
2009-11 Average: $ 178765.96
2009-12 Average: $ 178700.0
2010-01 Average: $ 178778.72
2010-02 Average: $ 178959.57
2010-03 Average: $ 178757.45
2010-04 Average: $ 178274.47
2010-05 Average: $ 178012.77
2010-06 Average: $ 177921.28
2010-07 Average: $ 177474.47
2010-08 Average: $ 176763.83
2010-09 Average: $ 175982.98
2010-10 Average: $ 175221.28
2010-11 Average: $ 174414.89
2010-12 Average: $ 173480.85
2011-01 Average: $ 172491.49
2011-02 Average: $ 171510.64
2011-03 Average: $ 170597.87
2011-04 Average: $ 169744.68
2011-05 Average: $ 169029.79
2011-06 Average: $ 168344.68
2011-07 Average: $ 167776.6
2011-08 Average: $ 167293.62
2011-09 Average: $ 166793.62
2011-10 Average: $ 166302.13
2011-11 Average: $ 165876.6
2011-12 Average: $ 165551.06
2012-01 Average: $ 165244.68
2012-02 Average: $ 165065.96
2012-03 Average: $ 165153.19
2012-04 Average: $ 165440.43
2012-05 Average: $ 165817.02
2012-06 Average: $ 166234.04
2012-07 Average: $ 166691.49
2012-08 Average: $ 167165.96
2012-09 Average: $ 167619.15
2012-10 Average: $ 168100.0
2012-11 Average: $ 168736.17
2012-12 Average: $ 169425.53
2013-01 Average: $ 170070.21
2013-02 Average: $ 170770.21
2013-03 Average: $ 171663.83
2013-04 Average: $ 172742.55
2013-05 Average: $ 173865.96
2013-06 Average: $ 174968.09
2013-07 Average: $ 176095.74
2013-08 Average: $ 177210.64
2013-09 Average: $ 178189.36
2013-10 Average: $ 179019.15
2013-11 Average: $ 179797.87
2013-12 Average: $ 180536.17
2014-01 Average: $ 181236.17
2014-02 Average: $ 181848.94
2014-03 Average: $ 182485.11
2014-04 Average: $ 183193.62
2014-05 Average: $ 183887.23
2014-06 Average: $ 184489.36
2014-07 Average: $ 185136.17
2014-08 Average: $ 185804.26
2014-09 Average: $ 186438.3
2014-10 Average: $ 187031.91
2014-11 Average: $ 187693.62
2014-12 Average: $ 188448.94
2015-01 Average: $ 189165.96
2015-02 Average: $ 189934.04
2015-03 Average: $ 190774.47
2015-04 Average: $ 191640.43
2015-05 Average: $ 192478.72
2015-06 Average: $ 193314.89
2015-07 Average: $ 194165.96
2015-08 Average: $ 195065.96
2015-09 Average: $ 195991.49
2015-10 Average: $ 196902.13
2015-11 Average: $ 197772.34
2015-12 Average: $ 198670.21
2016-01 Average: $ 199617.02
2016-02 Average: $ 200631.91
2016-03 Average: $ 201753.19
2016-04 Average: $ 202906.38
2016-05 Average: $ 203991.49
2016-06 Average: $ 205097.87
2016-07 Average: $ 206310.64
2016-08 Average: $ 207468.09
2016-09 Average: $ 208568.09
2016-10 Average: $ 209746.81
2016-11 Average: $ 211025.53
2016-12 Average: $ 212389.36
2017-01 Average: $ 213668.09
2017-02 Average: $ 214819.15
2017-03 Average: $ 216027.66
2017-04 Average: $ 217272.34
2017-05 Average: $ 218431.91
2017-06 Average: $ 219372.34
2017-07 Average: $ 220240.43
2017-08 Average: $ 221308.51
2017-09 Average: $ 222427.66
2017-10 Average: $ 223610.64
2017-11 Average: $ 224972.34
2017-12 Average: $ 226342.55
2018-01 Average: $ 227902.13
2018-02 Average: $ 229640.43
2018-03 Average: $ 231012.77
2018-04 Average: $ 232008.51
2018-05 Average: $ 233176.6
2018-06 Average: $ 234425.53
2018-07 Average: $ 235559.57
2018-08 Average: $ 236587.23
2018-09 Average: $ 237878.72
2018-10 Average: $ 239131.91

To find the monthly average for every month, I added a second for loop that executed the for loop from before for each month, then printed that out. I also had to make it set the total_price back to 0 after each month, or the values would get progressively larger instead of being a true average.

In [37]:
total_price = 0
maximum_price = 0
minimum_price = df.iloc[0]['2018-10']

for state in df.index:
    state_price = df.loc[state]['2018-10']
    total_price = total_price + state_price
    if state_price > maximum_price:
        maximum_price = state_price
    if state_price < minimum_price:
        minimum_price = state_price
    #print(state)
    #print(df.loc[state]['2018-10'])
    
#print(total_price)
average = (total_price/len(df.index))
average = round(average, 2)
print('Average:', '$', average)

print("")

print('Maximum price:', '$', int(maximum_price))
print('Minimum price:', '$', int(minimum_price))

print("")

max_value = max(df.loc[df.index]['2018-10'])
print('Maximum value:', '$', max_value)

min_value = min(df.loc[df.index]['2018-10'])
print('Minimum value:', '$', min_value)

Average: $ 239131.91

Maximum price: $ 656900
Minimum price: $ 109100

Maximum value: $ 656900
Minimum value: $ 109100

This cell finds the maximum price of any state by first setting the variable to 0, and then using the for loop to check whether each new state price found is greater than the previous maximum value. If it is, it sets the maximum to be the new price, and if it isn't, it keeps it the same. It finds the minimum in much the same way, but instead of setting the initial minimum_price variable to be 0 (since no state price would ever be less than that) it sets it to the price of the first state in the list. Interestingly, the for loop method of calculating the maximum and minimum adds a decimal point to the values (converts them to a float) whereas the max and min operators method keeps them as integers.

# Third Task

 * Which state changed the most in the 22 years?  The least?
 * How could you find the median value in a given month?
 * The most common value?
 * Is there a way to identify states whose pricing is very different from the national average or trends?
 * Complete at least the first of these (determine which states changed the most and the least in the 22 years) and explain how you did it.

In [45]:
greatest_change = 0
least_change = (df.iloc[0]['2018-10'] - df.iloc[0]['1996-04'])

greatest_change_state = ''
least_change_state = ''

for state in df.index:
    price_difference = (df.loc[state]['2018-10'] - df.loc[state]['1996-04'])
    if price_difference > greatest_change:
        greatest_change = price_difference
        greatest_change_state = state
    if price_difference < least_change:
        least_change = price_difference
        least_change_state = state
    
print('State with greatest change:', greatest_change_state, '.', 'Change: $', int(greatest_change))

print('State with least change:', least_change_state, '.', 'Change: $', int(least_change))

State with greatest change: District of Columbia . Change: $ 525200
State with least change: Indiana . Change: $ 48800

This cell finds the greatest change of any state over the 22 year range by defining a variable called greatest_change, and then using the for loop to calculate the price difference of each state between October 2018 and April 1996, then checking if that new value is greater than the previous greatest change. If it is, it sets greatest_change to be equal to that price_difference and sets the greatest_change_state variable to be equal to that state, and if not, it keeps the value the same. It works much the same to find the least change, but sets the initial value for least_change to be equal to the price difference for the first state in the list, since no difference would ever be smaller than 0.

In [128]:
reduced_list = df.index[0:]
state_prices = []
month = '2018-10'
median_state = []

for state in reduced_list:
    price = int(df.loc[state][month])
    state_prices.append(price)

state_prices.sort()
print('State prices:', state_prices)

state_count = len(state_prices)
print('Number of states:', state_count)

if state_count % 2 != 0:
    print('Odd')
    median_value = state_prices[(round(state_count / 2)) - 1]
else:
    print('Even')
    median_value = (state_prices[int(state_count / 2)] + state_prices[(int(state_count / 2)) - 1]) / 2

for state in reduced_list:
    if state_count % 2 != 0:  
        if df.loc[state][month] == median_value:
            median_state.append(state)
    else:
        if (df.loc[state][month] == state_prices[int(state_count / 2)]) or (df.loc[state][month] == state_prices[(int(state_count / 2)) - 1]):
            median_state.append(state)
            
        
#state_prices.index(median_value)

print('Median value: $', median_value)
print('State(s) with median value:', median_state)

#median_price = median(state_prices)
#print('Median price: $', median_price)

State prices: [109100, 124400, 130500, 131200, 135200, 141300, 142900, 146800, 152400, 156300, 158200, 164600, 164700, 167000, 167200, 169100, 169300, 170700, 177000, 179100, 181100, 187700, 187900, 192700, 200000, 220100, 224000, 230300, 233700, 236700, 238700, 241600, 244000, 246200, 277000, 278700, 281300, 316700, 320000, 331200, 366000, 369300, 378300, 383000, 518200, 640900, 656900]
Number of states: 47
Odd
Median value: $ 192700
State(s) with median value: ['Wisconsin']

This cell finds the median value of all states for a given month, and then searches the list of states to find which state corresponds to that value. For an odd number of items in the list, it finds the median value by looking at the middle term (in the ordered list), then uses a for loop to match that to the correct state. However, having an even number of items in the list creates an added challenge, since there is no one median state: the median value is the average of the two center values. For this reason, it calculates the median value by averaging the two center items in the list, and then finds the two states that correspond to the center values.

In [183]:
state_prices = []
month = '2018-10'
interval_count = 5

for state in reduced_list:
    price = int(df.loc[state][month])
    state_prices.append(price)

state_prices.sort()
print('State prices:', state_prices)

state_count = len(state_prices)
print('Number of states:', state_count)

state_range = state_prices[(state_count-1)] - state_prices[0]
print("Range:", state_range)

interval_size = int(state_range / interval_count)
print("Interval size:", interval_size)

bottom_value = state_prices[0]

interval_one = []
interval_two = []
interval_three = []
interval_four = []
interval_five = []

interval_frequency = []

for i in range(interval_count):
    interval_frequency.append(0)

#print("Interval Frequency:", interval_frequency)

for i in range(interval_count):
    for state in df.index:
        if (int(df.loc[state][month]) >= (bottom_value + (interval_size * i))) and (int(df.loc[state][month]) < (bottom_value + (interval_size * (i + 1)))):
            interval_frequency[i] = interval_frequency[i] + 1
        elif i == (interval_count - 1) and (int(df.loc[state][month]) >= (bottom_value + (interval_size * i))) and (int(df.loc[state][month]) <= (bottom_value + (interval_size * (i + 1)))):
            interval_frequency[i] = interval_frequency[i] + 1


for state in df.index:
    if (int(df.loc[state][month]) >= bottom_value) and (int(df.loc[state][month]) < (bottom_value + interval_size)):
        interval_one.append(state)
        #interval_frequency[0] = interval_frequency[0] + 1
    elif (int(df.loc[state][month]) >= (bottom_value + interval_size)) and (int(df.loc[state][month]) < (bottom_value + 2 * interval_size)):
        interval_two.append(state)
    elif (int(df.loc[state][month]) >= (bottom_value + 2 * interval_size)) and (int(df.loc[state][month]) < (bottom_value + 3 * interval_size)):
        interval_three.append(state)
    elif (int(df.loc[state][month]) >= (bottom_value + 3 * interval_size)) and (int(df.loc[state][month]) < (bottom_value + 4 * interval_size)):
        interval_four.append(state)
    elif (int(df.loc[state][month]) >= (bottom_value + 4 * interval_size)) and (int(df.loc[state][month]) <= (bottom_value + 5 * interval_size)):
        interval_five.append(state)

print("Interval Frequency:", interval_frequency)        

print("Interval 1:", interval_one)
print("Interval 2:", interval_two)
print("Interval 3:", interval_three)
print("Interval 4:", interval_four)
print("Interval 5:", interval_five)

State prices: [109100, 124400, 130500, 131200, 135200, 141300, 142900, 146800, 152400, 156300, 158200, 164600, 164700, 167000, 167200, 169100, 169300, 170700, 177000, 179100, 181100, 187700, 187900, 192700, 200000, 220100, 224000, 230300, 233700, 236700, 238700, 241600, 244000, 246200, 277000, 278700, 281300, 316700, 320000, 331200, 366000, 369300, 378300, 383000, 518200, 640900, 656900]
Number of states: 47
Range: 547800
Interval size: 109560
Interval Frequency: [25, 14, 5, 1, 2]
Interval 1: ['Texas', 'New York', 'Illinois', 'Pennsylvania', 'Ohio', 'Michigan', 'Georgia', 'North Carolina', 'Indiana', 'Arizona', 'Tennessee', 'Missouri', 'Wisconsin', 'Alabama', 'South Carolina', 'Kentucky', 'Oklahoma', 'Iowa', 'Mississippi', 'Arkansas', 'Kansas', 'New Mexico', 'West Virginia', 'Nebraska', 'South Dakota']
Interval 2: ['Florida', 'Virginia', 'Minnesota', 'Connecticut', 'Utah', 'Nevada', 'Idaho', 'Maine', 'New Hampshire', 'Rhode Island', 'Montana', 'Delaware', 'Alaska', 'Wyoming']
Interval 3: ['New Jersey', 'Washington', 'Massachusetts', 'Colorado', 'Oregon']
Interval 4: ['California']
Interval 5: ['Hawaii', 'District of Columbia']

This cell creates a histrogram distribution for all state prices in a given month. To do this, it creates a list containing all of the prices and sorts it, then calculates the range. It then uses the range to calculate the size of the intervals based on the modifiable value of the number of intervals. Using a for loop, it adds 1 to the interval that each state fits into, providing an overall tally.

In [205]:
state_prices = []
month = '2018-10'
total_price = 0
national_average = 0

for state in df.index:
    price = int(df.loc[state][month])
    state_prices.append(price)
    total_price = total_price + price

state_prices.sort()

#del state_prices[46]
#del state_prices[45]
#del state_prices[44]

print('State prices:', state_prices)

print("Total price: $", total_price)

national_average = int((total_price) / len(state_prices))

print("National Average: $", national_average)

outlier_states = []

for state in df.index:
    if df.loc[state][month] > (national_average + (2 * df[month].std())) or df.loc[state][month] < (national_average - (2 * df[month].std())):
        outlier_states.append(state)

print("Standard deviaton: $", int(df[month].std()))
print("Outlier states:", outlier_states)

State prices: [109100, 124400, 130500, 131200, 135200, 141300, 142900, 146800, 152400, 156300, 158200, 164600, 164700, 167000, 167200, 169100, 169300, 170700, 177000, 179100, 181100, 187700, 187900, 192700, 200000, 220100, 224000, 230300, 233700, 236700, 238700, 241600, 244000, 246200, 277000, 278700, 281300, 316700, 320000, 331200, 366000, 369300, 378300, 383000, 518200, 640900, 656900]
Total price: $ 11239200
National Average: $ 239131
Standard deviaton: $ 121750
Outlier states: ['California', 'Hawaii', 'District of Columbia']

This cell finds which states are outliers by checking if any state's price is outside the national average +/- two standard deviations. It computes the national average by adding up all the prices and dividing by the number of states, then looks at each state and checks if it is greater than the average + 2 standard deviations or if it is less than the average - 2 standard deviations. It finds that the three states that are outliers are California, Hawaii, and the District of Columbia. This makes sense, since these are each way higher than the next highest.